  <div class="replyContainer" *ngFor="let reply of ticketDataList">

    <div class="replyPerson">
      <div class="avatar" class="fa fa-address-card fa-3x" aria-hidden="true"></div>
      <div class="person">{{reply.createdBy}}</div>
      <div class="date">{{reply.creationDate}}</div>
  </div>

    <div class="reply">
      <div class="replyAction"><span>Action : </span> {{reply.actionID.englishLabel}}</div>
      <div class="replyTitle">{{reply.title}}</div>
      <div class="replyContent"> {{reply.ticketData}} </div>
    </div>
    <div class="ReplyAttachment">
        <!--<div class="attachementTitle">Attachements</div>-->
        <div class="attachmentContent">
          <tr app-view-attachment [attachmentID]="reply.attachmentsList"></tr>
        </div>
    </div>
  </div>
