<p-blockUI [blocked]="blocked">
  <i class="fa fa-spinner fa-spin fa-4x fa-fw" aria-hidden="true" style="position:absolute;top:50%;left:50%"></i>
</p-blockUI>

<p-panel #userProfilePanel header="{{'userProfile' | translate}}" class="userProfileContainer">

  <div class="p-grid p-justify-start">
    <div class="p-col-2 minWidth">
      <p-dropdown [options]="searchTypes"
                  [(ngModel)]="selectedSearchType"></p-dropdown>
    </div>

    <div class="p-col-4" *ngIf="(selectedSearchType == '1')">
      <input id="customerBasic" type="text" pInputText name="customerBasic" [(ngModel)]="customerBasic"
             (keyup.enter)="search()">
      <button type="button" style="margin: 0 10px !important;"
              pButton class="ui-button-rounded"
              (click)="search()"
              label="{{'search' | translate}}"></button>

      <button type="button" style="margin: 0 10px !important;"
              pButton class="ui-button-rounded"
              (click)="clear()"
              label="{{'clear' | translate}}"></button>

    </div>
    <div class="p-col-9" style="padding:0px" *ngIf="(selectedSearchType == '2')">
      <div class="p-grid">
        <div class="p-col-3 minWidth">
          <p-dropdown [options]="nationalIdTypes" [(ngModel)]="selectedNationalType"></p-dropdown>
        </div>
        <div class="p-col-6"><input id="nationalID" type="text" pInputText name="nationalID"
                                    [(ngModel)]="nationalID" (keyup.enter)="search()">
          <button type="button" style="margin: 0 10px !important;"
                  pButton class="ui-button-rounded"
                  (click)="search()" *ngIf="selectedNationalType != ''"
                  label="{{'search' | translate}}"></button>

          <button type="button" style="margin: 0 10px !important;"
                  pButton class="ui-button-rounded"
                  (click)="clear()"
                  label="{{'clear' | translate}}"></button>
        </div>


      </div>


    </div>
    <div class="p-col-4" *ngIf="(selectedSearchType == '3')">

      <input id="mobileNo" type="text" pInputText name="mobileNo" [(ngModel)]="mobileNo" pTooltip="0501234567"
             tooltipPosition="top" (keyup.enter)="search()">

      <button type="button" style="margin: 0 10px !important;"
              pButton class="ui-button-rounded"
              (click)="search()"
              label="{{'search' | translate}}"></button>

      <button type="button" style="margin: 0 10px !important;"
              pButton class="ui-button-rounded"
              (click)="clear()"
              label="{{'clear' | translate}}"></button>
    </div>


  </div>

  <div *ngIf="customerProfile.idNumber === undefined" style="height:150px"></div>


  <p-tabView id="CustomerProfileTabsView"
             [(activeIndex)]="selectedTab"
             *ngIf="customerProfile.idNumber != undefined">
    <p-tabPanel [header]="'customerProfile' | translate">
      <app-view-user-profile></app-view-user-profile>
    </p-tabPanel>
    <p-tabPanel [header]="'customerAccounts' | translate">
      <ng-template pTemplate="content">
        <app-accounts [customerProfile]="customerProfile"></app-accounts>
      </ng-template>

    </p-tabPanel>
  </p-tabView>


</p-panel>
