<!--<div app-dynamic-field class="p-col" *ngFor="let field of dynamicListValue;let index" [field]="field"></div>-->

<ng-container *ngFor="let field of dynamicListValue">

  <div *ngIf="field.type === 1 && !hideFields"
       class="p-col-1 grid-label"> {{field.enableTranslate ? (field.label|translate) : field.label}}</div>

  <div *ngIf="field.type === 1 && !hideFields" class="p-col-3 minWidth">
    <p-dropdown [options]="getLabelModel(field)" [(ngModel)]="field.value" [filter]="true" filterBy="label,value"
                [autoWidth]="true" [disabled]="this.extData != null"></p-dropdown>
  </div>

   <div *ngIf="field.type === 2 && !hideFields"
       class="p-col-1 grid-label">{{field.enableTranslate ? (field.label|translate) : field.label}}</div>
  <div *ngIf="field.type === 2 && !hideFields" class="p-col-3 minWidth">
    <input type="text" [minLength]="field.minLen" [maxLength]="field.maxLen" [width]="field.width"
           pInputText [disabled]="this.extData != null"
           [(ngModel)]="field.value">
  </div>

  <div *ngIf="field.type === 3 && !hideFields"
       class="p-col-1 grid-label">{{field.enableTranslate ? (field.label|translate) : field.label}}</div>
  <div *ngIf="field.type ===3 && !hideFields" class="p-col-3 minWidth">
    <p-calendar [(ngModel)]="field.value" showTime="true" hourFormat="12" hideOnDateTimeSelect="true"
                dataType="string" [disabled]="this.extData != null"></p-calendar>
  </div>
  <!-- Empty Div to align the view -->
  <div *ngIf="field.type === -1 && !hideFields"
       class="p-col-1 grid-label">{{' '}}</div>
  <div *ngIf="field.type === -1 && !hideFields" class="p-col-3 minWidth">{{' '}}
  </div>
</ng-container>

<!--div class="p-grid">
<div class="p-col">
<p-button type="button" label="{{'save' | translate}}" (onClick)="updateFields()"></p-button>
<p-button type="button" label="{{'clear' | translate}}" (onClick)="clear()"></p-button>
</div>

</div -->
<!--ng-container *ngFor="let field of dynamicListValue;let index">
  <div *ngIf="index%2==0; then odd else even"></div>
  <ng-template #odd>
    <app-dynamic-field [field]="field"></app-dynamic-field>
  </ng-template>
  <ng-template #even>
    <app-dynamic-field [field]="field"></app-dynamic-field>
  </ng-template>
</ng-container -->
