<p-accordion>
  <p-accordionTab header="{{'Search' | translate}}" [selected]="true" class="searchPanel">

    <app-topics-selection [parent]="this"></app-topics-selection>
<hr/>
    <table class="searchTable">
      <tr>
        <td class="grid-label">{{'TicketType' | translate}}</td>
        <td class="grid-input">
          <p-dropdown [options]="utils.typesList" [(ngModel)]="ticketType"
                      optionLabel="englishLabel"></p-dropdown>
        </td>
        <td class="grid-label">{{'Channel' | translate}}</td>
        <td class="grid-input"></td>
        <td class="grid-label">{{'Priority' | translate}}</td>
        <td class="grid-input">
          <p-dropdown [options]="utils.priorityList" [(ngModel)]="ticketPriority"
                      optionLabel="priority"></p-dropdown>
        </td>

        <td class="grid-label">{{'CustomerSegment' | translate}}</td>
        <td class="grid-input"><input id="customerSegment" type="text" pInputText name="customerSegment"
                                      [(ngModel)]="customerSegment"></td>
      </tr>

      <tr>
        <td class="grid-label">{{'CustomerBasic' | translate}}</td>
        <td class="grid-input"><input id="customerBasic" type="text" pInputText name="customerBasic"
                                      [(ngModel)]="customerBasic"></td>
        <td class="grid-label">{{'nan' | translate}}</td>
        <td class="grid-input"><input id="nan" type="text" pInputText name="customerBasic"
                                      [(ngModel)]="nan"></td>


        <td class="grid-label">{{'CustomerName' | translate}}</td>
        <td class="grid-input"><input id="customerName" type="text" pInputText name="customerName"
                                      [(ngModel)]="customerName"></td>

        <td class="grid-label">{{'CustomerMobile' | translate}}</td>
        <td class="grid-input"><input id="customerMobile" type="text" pInputText name="customerMobile"
                                      [(ngModel)]="customerMobile"></td>
      </tr>
      <tr>
        <td class="grid-label">{{'CustomerEmail' | translate}}</td>
        <td class="grid-input"><input id="customerEmail" type="text" pInputText name="customerEmail"
                                      [(ngModel)]="customerEmail"></td>
        <td class="grid-label">{{'Branch' | translate}}</td>
        <td class="grid-input"><input id="customerBranch" type="text" pInputText name="customerBranch"
                                      [(ngModel)]="customerBranch"></td>

        <td class="grid-label">{{'creationDateStart' | translate}}</td>
        <td class="grid-input">
          <p-calendar [(ngModel)]="startDate" showTime="true" hourFormat="12"></p-calendar>
        </td>
        <td class="grid-label">{{'creationDateEnd' | translate}}</td>
        <td class="grid-input">
          <p-calendar [(ngModel)]="endDate" showTime="true" hourFormat="12"></p-calendar>
        </td>
      </tr>

    </table>
    <p-panel class="btnPanel no_style">

      <p-button label="{{'apply' | translate}}" (onClick)="applyFilter()"></p-button>
      <p-button label="{{'clear' | translate}}" (onClick)="clear()"></p-button>
    </p-panel>
    <div style="clear:both"></div>
  </p-accordionTab>
</p-accordion>
