<p-panel>
  <p-header>
    {{'mainCatWizard'|translate}}
  </p-header>
  <h5 class="first">{{'arabicLabel'|translate}}</h5>
  <input id="arabicLabel" type="text" size="150" pInputText [(ngModel)]="item.arabicLabel">
  <h5 class="first">{{'englishLabel'|translate}}</h5>
  <input id="englishLabel" type="text" size="150" pInputText [(ngModel)]="item.englishLabel">
  <ng-container *ngIf="item.id!=null">
    <h5 class="first">{{'Status'|translate}}</h5>
    <p-checkbox binary="true" [(ngModel)]="item.enabled"></p-checkbox>
  </ng-container>
  <p-footer>
    <button type="button"
            [disabled]="!(item!=null && item.arabicLabel!=null &&
            item.englishLabel!=null && item.arabicLabel.length>0
            && item.englishLabel.length>0)" pButton
            (click)="execute()"
            label="{{(this.item.id!=null)?'editBTN':'createBTN' | translate}}"></button>
  </p-footer>
</p-panel>
