<p-panel>
  <p-header>
    {{'mainCatWizard'|translate}}
  </p-header>
  <app-topic-item-form [(item)]="item"></app-topic-item-form>
  <p-footer>
    <button type="button"
            [disabled]="!(item!=null && item.arabicLabel!=null &&
            item.englishLabel!=null && item.arabicLabel.length>0
            && item.englishLabel.length>0)" pButton
            (click)="execute()"
            label="{{'doneBTN' | translate}}"></button>
    <button type="button"
            pButton
            (click)="parent.enableCreateEditMode=false;"
            label="{{'backBTN' | translate}}"></button>
  </p-footer>
</p-panel>
