<p-menubar [model]="items" [autoDisplay]="false"></p-menubar>

<div *ngIf="ticketLock!=null" class="replyTB">
  <app-ticket-reply [parent]="this"></app-ticket-reply>
</div>

<div class="formTB" *ngIf="ticket">

  <div class="p-grid p-justify-start ">

    <div class="p-col-1 grid-label">{{'TicketID' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="ticketID" type="text" pInputText name="ticketID" [attr.disabled]="true"
                                         [ngModel]="ticket.id"></div>

  </div>

  <div class="p-grid p-justify-start">

    <div class="p-col-1 grid-label">{{'MainCat' | translate}}</div>
    <div class="p-col-3 minWidth">
      <input id="mainCategory" type="text" pInputText name="subCategory" [attr.disabled]="true"
             [ngModel]="utils.printLocLabel(ticket.topic.subCategory.mainCategory)">
    </div>

    <div class="p-col-1 grid-label">{{'SubCat' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="subCategory" type="text" pInputText name="subCategory"
                                         [attr.disabled]="true"
                                         [ngModel]="utils.printLocLabel(ticket.topic.subCategory)"></div>


    <div class="p-col-1 grid-label">{{'Topic' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="topic" type="text" pInputText name="topic" [attr.disabled]="true"
                                         [ngModel]="utils.printLocLabel(ticket.topic)"></div>
  </div>


  <div class="p-grid p-justify-start">

    <div class="p-col-1 grid-label">{{'createdBy' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="createdBy" type="text" pInputText name="createdBy" [attr.disabled]="true"
                                         *ngIf="ticket " [ngModel]="ticket.createdBy"></div>
    <div class="p-col-1 grid-label">{{'creationDate' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="creationDate" type="text" pInputText name="creationDate"
                                         [attr.disabled]="true"
                                         [ngModel]="ticket.creationDate"
    ></div>
    <div class="p-col-1 grid-label">{{'modificationDate' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="lastModification" type="text" pInputText name="lastModification"
                                         [attr.disabled]="true" [ngModel]="ticket.modificationDate"
    ></div>

  </div>

  <div class="p-grid p-justify-start">
    <div class="p-col-1 grid-label">{{'Status' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="status" type="text" pInputText name="status" [attr.disabled]="true"
                                         [ngModel]="utils.findStatus(ticket.currentStatus)"
    ></div>


    <div class="p-col-1 grid-label">{{'TicketType' | translate}}</div>
    <div class="p-col-3 minWidth" colspan="2"><input id="ticketType" type="text" pInputText name="ticketType"
                                                     [attr.disabled]="true"
                                                     [ngModel]="utils.findType(ticket.ticketType)"
    ></div>
    <div class="p-col-1 grid-label">{{'Channel' | translate}}</div>
    <div class="p-col-3 minWidth" colspan="2"><input id="channel" type="text" pInputText name="channel"
                                                     [attr.disabled]="true"
                                                     [ngModel]="ticket.sourceChannel"></div>


  </div>


  <div
    *ngIf="mainCatConfigurations!=null &&   mainCatConfigurations.fields!=null">

    <div app-dynamic-fields #dynFields class="p-grid"
         *ngFor="let fields of mainCatConfigurations.slicedFields"
         [dynamicListValue]="fields" [extData]="ticket.ticketExtData" [viewType]="'viewTicket'"></div>
  </div>


  <div class="p-grid p-justify-start">


    <div class="p-col-1 grid-label">{{'Subject' | translate}}</div>
    <div class="p-col-7 minWidth" colspan="7"><input id="subject" type="text" pInputText name="subject"
                                                     [attr.disabled]="true"

                                                     [ngModel]="ticket.subject"></div>

    <div class="p-col-1 grid-label">{{'Priority' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="priority" type="text" pInputText name="priority" [attr.disabled]="true"
                                         [ngModel]="utils.findPriority(ticket.priority)"></div>

  </div>
  <div class="p-grid p-justify-start">
    <div class="p-col-1 grid-label">{{'Details' | translate}}</div>
    <div class="p-col-11 minWidth" colspan="7"><textarea id="details" type="text" pInputTextarea name="details"
                                                         [attr.disabled]="true" [ngModel]="ticket.details"> </textarea>
    </div>
  </div>

  <hr/>

  <div class="p-grid p-justify-start">
    <div class="p-col-1 grid-label">{{'OriginalMainCategory' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="oMainCategory" type="text" pInputText name="ostaffID"
                                         [attr.disabled]="true"
                                         [ngModel]="utils.printLocLabel(ticket.originalTopic.subCategory.mainCategory) "
                                         (ngModelChange)="ticket.originalTopic.subCategory.mainCategory($event)"></div>
    <div class="p-col-1 grid-label">{{'OriginalSubCategory' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="oSubCategory" type="text" pInputText name="osubCategory"
                                         [attr.disabled]="true"
                                         [ngModel]="utils.printLocLabel(ticket.originalTopic.subCategory)"
                                         (ngModelChange)="ticket.originalTopic.subCategory($event)"></div>
    <div class="p-col-1 grid-label">{{'OriginalTopic' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="oTopic" type="text" pInputText name="otopic" [attr.disabled]="true"
                                         [ngModel]="utils.printLocLabel(ticket.originalTopic)"
                                         (ngModelChange)="ticket.originalTopic($event)"></div>

  </div>
  <hr/>
  <div class="p-grid p-justify-start">

    <div class="p-col-1 grid-label">{{'CustomerBasic' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="customerBasic" type="text" pInputText name="customerBasic"
                                         [attr.disabled]="true"
                                         [ngModel]="ticket.customerAccount.customerCIF"></div>
    <div class="p-col-1 grid-label">{{'CustomerName' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="customerName" type="text" pInputText name="customerName"
                                         [attr.disabled]="true"
                                         [ngModel]="ticket.customerAccount.customerNameEn"></div>
    <div class="p-col-1 grid-label">{{'CustomerMobile' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="customerMobile" type="text" pInputText name="customerMobile"
                                         [attr.disabled]="true" [ngModel]="ticket.customerAccount.mobile"></div>

  </div>
  <div class="p-grid p-justify-start">
    <div class="p-col-1 grid-label">{{'CustomerSegment' | translate}}</div>
    <div class="p-col-3 minWidth"><input id="customerSegment" type="text" pInputText name="customerSegment"
                                         [attr.disabled]="true" [ngModel]="ticket.customerAccount.segment"></div>
  </div>
  <hr/>


  <ng-container *ngIf="ticket.attachmentsList!=null && ticket.attachmentsList.length>0">
    <div class="p-grid p-justify-start">
      <div class="p-col-1 grid-label">
        <h4>{{'attachments'|translate}}</h4>
      </div>
      <div class="p-col-5">
        <app-view-attachment [attachmentID]="ticket.attachmentsList"></app-view-attachment>
      </div>
    </div>
  </ng-container>

  <div class="p-grid p-justify-start">
    <div class="p-col-12">
      <p-panel header="{{'replies' | translate}}">
        <app-view-ticket-data [ticketDataList]="ticket.ticketdataList"></app-view-ticket-data>
        <div style="clear: both"></div>
      </p-panel>
    </div>
  </div>

  <div class="p-grid p-justify-start">
    <div class="p-col-12">
      <app-view-ticket-extra-lists [ticket]="ticket"></app-view-ticket-extra-lists>
    </div>
  </div>

</div>
