.rtl {

  .userTypesRadio div{
    float: right;
    padding-left: 15px;
    padding-right: initial;
  }
  .ui-listbox .ui-chkbox{
    margin: 0 0 0 0.5em !important;
  }
  .ui-listbox .ui-listbox-list .ui-listbox-item .ui-chkbox {
    margin: 0 0 0 0.5em !important;
  }

  .loginContent, .loginBTN{
    text-align: center !important;
  }
   .ui-submenu-list {
    left: initial!important;
   }
  .ui-menuitem-text{
     margin: 0px 5px;
   }
  .replyAction span {
    float: right;
  }
  .ui-dropdown-panel .ui-dropdown-item{
    text-align: right!important;
  }
  .replyContainer{
    float:right;
  }
  .replyContainer .replyPerson {
    float: right;
    border-left: solid 1px #d8d8d8;
    border-right:none!important;
    background-image: linear-gradient(to right, #f3f3f3, #fff);
  }
  .replyContainer .reply {
    border-left: solid 1px #d8d8d8;
    border-right:none!important;
    float: right;
  }
  .replyContainer .ReplyAttachment {
    float: left;
  }
  .replyContainer .ReplyattachmentContent {
    float: right;
  }

  .navbar-expand-lg .navbar-nav{

    float: left;
  }
  .ui-tabview-panel table{
    margin-right: 1px;
  }
.btn-create{
  float: left;
}
  .btnPanel{
    float: left;
  }
  .ui-paginator-bottom{

    direction: ltr !important;
    text-align: center !important;

  }
  .fa-angle-double-right:before {
    content: none;
    content: "\f100";
  }

  .list-group-item {
      padding: 0.75rem 0.50rem !important;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu-right{
    right: auto;
  }
   .dropdown-item{
    float: right;
  }
  .navbar-collapse{
    display: block !important;
  }

   .fa-user::after {
     content: none;
    }

  .nav-item{
    float: right;
  }
  .collapsed[_ngcontent-c1] {
    margin-right: 55px !important;
    margin-left: auto !important;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    margin-left: 2px;
    float: right;
  }

  .col-header {
    float: right !important;
  }


  .sidebar {
        left: auto !important;
        right: 0 !important;
        > ul.list-group {
            padding: 0;
        }
    }
    .main-container {
        margin-left: 0 !important;
        margin-right: 135px;
    }
    /*rtl dropdown items correction*/
    .dropdown-menu {
        text-align: right;
    }
    * {
        direction: rtl;
        text-align: right;
    }
    .navbar * {
      direction: rtl;
    }

    //.sidebar * {
    //    direction: ltr;
    //}

    .navbar .dropdown-menu {
        text-align: left;
    }

    .breadcrumb {
        direction: ltr;
        justify-content: flex-end;

        * {
            direction: ltr;
        }
    }

    .datepicker-input {
        direction: ltr;
        .dropdown-menu {
            direction: ltr;

            * {
                direction: ltr;
            }
        }
    }

    .input-group {
        direction: ltr;
    }
}
@media screen and (max-width: 992px) {
    .rtl {
        .navbar-brand {
            direction: ltr;
        }
        .sidebar {
            right: -235px !important;
        }
        .main-container {
            margin-right: 0;
        }
        &.push-right {
            .sidebar {
                left: auto !important;
                right: 0 !important;
            }
        }
    }
}



