/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

body .ui-button{
  margin: 10px 5px !important;
}

body .ui-table .ui-table-caption {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}
.ui-table .ui-paginator-bottom{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.no_style .ui-panel-titlebar, .no_style .ui-panel-content{
  border: none !important;
 // padding: initial !important;
  background-color: initial !important;
  color: initial !important;
  border-top-left-radius: initial !important;
  border-top-right-radius: initial !important;
  border-bottom-left-radius: initial !important;
  border-bottom-right-radius: initial !important;
}

.ui-accordion-header .ng-tns-c5-0{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.ui-accordion-content{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;


}



.grid-input {
  line-height: 15px;
  margin-right:5px;
}
.grid-label{
  margin-top: 3px;
  font-weight: 600;
 // padding: 0PX 18PX 0PX 17PX;
  padding: 0px 8px;
}
.p-grid{
  margin-bottom: 6px !important;
  margin-top: auto !important;
}

.dt-selection tr.ui-state-highlight{
  background-color: #dae8ff !important;
  color: #000000 !important;
}

table.formTB input{
 margin: 5px 0px;
}

.ticketFormTb input{
  margin: 5px 0px;
  width: 100%;
}
.ticketFormTb .ui-dropdown{
  margin: 5px 0px;
  width: 100% !important;
}

.notActive {
  color: #e02365;
  font-weight: bold;
}


#rolesListBox :after , #rolesListBox :before{
  content: none;
}


div.ui-listbox{
  width: 265px !important;
  height: 160px !important;
}

.ui-fieldset legend{

  width: auto !important;
}


body .ui-message.ui-message-error{

  width: 281px;
}

legend{

  font-size: initial;
  font-weight: 800;
}


.minWidth .ui-dropdown{
  min-width: 200px;
}


body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  border: 1px solid #007ad9;
  color: #ffffff;
  background-color: #007ad9;
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
  background-color: #27a0ff;
  border: 1px solid #27a0ff;
  color: #ffffff;
}


.formTB .ui-accordion .ui-accordion-header a {
  border: 1px solid #007ad9;
  color: #000000;
  background-color: #dedede;
}


.formTB .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a{

  border: 1px solid #007ad9;
  color: #000000;
  background-color: #f3f3f3;
  text-underline: none;
}

.formTB .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
  color: #000000;
}

.formTB .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
  color: #000000;
}


.col-header{

  float: left;
}

.dynamic{

  background: red;
}

.formTB .ui-state-disabled, .formTB .ui-widget:disabled {
   opacity: 0.9;
  filter: alpha(opacity=90);
}

.formTB textarea , .ticketFormTb textarea{
  width: 100%;
  height: 80px;
}

.formTB hr{
  margin: 0px;
}
.ui-table .ui-table-tbody > tr > td{
  //padding: 0px 10px !important;
}

.ui-table .ui-table-tbody > tr, .ui-table .ui-table-tfoot > tr > td{
  max-width: 300px !important;
  font-size: 12px;
  padding: 0px 5px !important;
  padding-left: 4px !important;
  color: black;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  border-width: 1px;
}

//.ticketFormTb {width: 100%;}
.ticketFormTb .ui-message.ui-message-error {width: 100% !important;}
.ticketFormTb .ui-dropdown::before {
 // content: initial !important;
}

.ticketFormTb .ui-fileupload .ui-fileupload-buttonbar{
  background-color: #f4f4f4 !important;
  border: 1px solid #c8c8c8 ;
  border-bottom: 0 none;
}

.ticketFormTb .ui-button{
  margin: initial!important;
  margin-right: 8px !important;
}

.ticketFormTb [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: initial;
}

.ticketFormTb .ui-fileupload-row {
  display: inline;
}
table.ticketFormTb{
  width: 100%;
}


.tbTable{
  overflow:auto!important;
}


.replyContainer{
  padding: 12px 18px;
  border: solid 1px #3e7ad9;
  border-radius: 15px;
  float: left;
  width: 100%;
  margin: 6px 0px;
}
.replyContainer .replyPerson{
  display: block;
  width: 10%;
  border-right: solid 1px #d8d8d8;
  float: left;
  padding-right: 5px;
  text-align: center;
  background-color: #efefef;
  background-image: linear-gradient(to left,#f3f3f3, #fff);
}

.replyContainer .reply{
  display: block;
  float: left;
  margin-left: 10px;
  width: 65%;
  color: #495057;
  border-right: solid 1px #d8d8d8;
  padding: 8px;
}
.replyContainer .person{
  font-weight: BOLD;
}
.replyContainer .date{
  width: 100px;
}
.replyAction {
  font-weight: bold;
  border-bottom: solid 1px #d8d8d8;
  width: fit-content;
  margin-bottom: 10px;
}
.replyAction span{
   font-weight: normal;
 }

.replyContainer .replyTitle{
  font-weight: BOLD;
  color: #797979;
  margin-bottom: 5px;
  border-bottom: solid 1px #d8d8d8;
  width: fit-content;
  line-height: 12px;
}
.attachementContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.attachementContent li {
  float: left;
  margin: 10px;

}

.attachementContent li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;

}

.attachementContent .btn-secondary:hover{
  background-color: #0076ec;
}


.replyContainer .ReplyAttachment{
  display: block;
  color: #495057;
  float: left;
  width: 20%;
  margin-left: 20px;
}

.replyContainer .attachementTitle{
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: solid 1px #d8d8d8;
  width: fit-content;
}

.replyContainer .ReplyattachmentContent{
  display: block;
  color: #495057;
  float: left;}


.ReplyAttachment .ReplyattachmentContent ul {
  //list-style-type: none;
  //margin: 0;
  //padding: 0;
  //overflow: hidden;
}

.ReplyAttachment .ReplyattachmentContent li {
  float: none;
  margin: 0px 0px 5px 0px;

}

.ReplyAttachment .ReplyattachmentContent li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;

}

.replyTB{
  border: solid 1px #c3c3c3;
  border-radius:  5px;
  background-image: linear-gradient(to bottom, #f3f3f3, #fff);
  margin-top: 10px;
}

body .ui-table .ui-table-tbody > tr > td {
  white-space: normal;
}

.btnPanel{
  float: right;
}

table.searchTable td {
  padding: 5px;
}

.gradient-box{
  //background: #000;
  //padding: 10px;
}
.loginContent{
  background: #3F51B5;
  box-shadow:0 0 64px rgba(0,0,0,0.5);
  padding: 10px;
}
.login-page[_ngcontent-c1]{
background: #283593 !important;
  }
.loginBTN{
  min-height: 60px!important;
  font: 500 16px/1 'Roboto',sans-serif!important;;
  width: 100%!important;;
  padding: 20px!important;;
  display: block!important;;
  background: #324192!important;;
  color: #FFF!important;;
  border: none!important;;
  outline: 0!important;;
  cursor: pointer!important;;
  position: absolute!important;;
  left: 0!important;;
  bottom: 0!important;;
}
