<p>
  {{this.ticketFilters[0].status}} : {{this.ticketFilters[0].createdBy}}

  <p-table #dt [value]="ticketList" [paginator]="true" class="dt-selection"
           [rows]="8" selectionMode="single"
           [(selection)]="selectedTicket"
           dataKey="userID"
           [globalFilterFields]="['id','topic','currentStatus','subject','ticketType']">

    <ng-template pTemplate="caption"  class="rounded-top">

      <div style="text-align: right" >
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder=" Global SearchTicketsContainer" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto" class="rounded">
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ticket>
      <tr [pSelectableRow]="ticket">
        <td *ngFor="let col of cols" >
          <div *ngIf="col.field ==='escalationCalDate'">
            {{ticket[col.field] | date}}
          </div>

          <div *ngIf="col.field !='escalationCalDate'">
            {{ticket[col.field]}}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


</p>
