<div><br/></div>
<app-topics-selection [parent]="this" [skipTable]="false"></app-topics-selection>
<p-table *ngIf="topicSlaList!=null && topicSlaList.length>0" #dt [value]="topicSlaList" [paginator]="true"
         class="dt-selection" selectionMode="single"
         [rows]="10"
         [columns]="cols"
         [(selection)]="selectedTopicSla"
         [lazy]="true"
         [resizableColumns]="true" columnResizeMode="expand"
         [responsive]="true"
         dataKey="id">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 43px;"></th>

      <th *ngFor="let col of cols" pResizableColumn>

        <div class="col-header"> {{col.header|translate}}</div>
      </th>


    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sla let-expanded="expanded">
    <tr [pSelectableRow]="sla">
      <td>
        <p-tableRadioButton [value]="sla"></p-tableRadioButton>
      </td>
      <td *ngFor="let col of cols" class="ui-resizable-column">
        <ng-container
          *ngIf="col.topic!==undefined && col.topic">
          <div *ngIf="col.field ==='mainCategory'">
            {{utils.printLocLabel(sla['topic'].subCategory.mainCategory) }}
          </div>

          <div *ngIf="col.field ==='subCategory'">
            {{utils.printLocLabel(sla['topic'].subCategory)}}
          </div>
        </ng-container>
        <ng-container
          *ngIf="col.sla!==undefined && col.sla">
          <div>
            {{sla[col.field]}}
          </div>
        </ng-container>
        <div *ngIf="col.field ==='topic'">
          {{utils.printLocLabel(sla[col.field]) }}
        </div>

      </td>
    </tr>
  </ng-template>
</p-table>
