<p-blockUI [blocked]="blocked">
  <i class="fa fa-spinner fa-spin fa-4x fa-fw" aria-hidden="true" style="position:absolute;top:50%;left:50%"></i>
</p-blockUI>

<p-table [value]="this.customerAccounts.accountList.account" dataKey="accountNostring">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px"></th>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
      <th style="width: 415px;"></th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-account let-expanded="expanded">
    <tr>

      <td>
        <a href="#" [pRowToggler]="account">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>

      <td *ngFor="let col of cols">
        {{account[col.field]}}
      </td>

      <td class="accountsBTN">
        <p-button label="IBAN SMS" (onClick)="sendIbanSMS(account)"></p-button>
        <p-button label="Order ChequeBook" (onClick)="orderChequeBook(account)"></p-button>
        <p-button label="Chequebook Status" (onClick)="statusChequeBook(account)"></p-button>
        <p-button label="Statement" (onClick)="showStatementDialog(account)"></p-button>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-account>
    <tr>
      <td [attr.colspan]="cols.length + 2">


        <p-tabView id="CustomerProfileTabsView"
                   [(activeIndex)]="selectedTabIndex">
          <p-tabPanel [header]="'accountInfo' | translate">
            <div class="customerProfileContainer">
              <div class="p-grid p-justify-start customerProfileIntern">
                <div class="p-col-1 la">{{'IBAN' | translate}}</div>
                <div class="p-col-2 minWidth"><input id="iban" type="text" pInputText name="iabn" [attr.disabled]="true"
                                                     [ngModel]="account.iban"></div>

                <div class="p-col-1">{{'accountOpenedDate' | translate}}</div>
                <div class="p-col-2 minWidth"><input id="accountOpenedDate" type="text" pInputText
                                                     name="accountOpenedDate" [attr.disabled]="true"
                                                     [ngModel]="account.accountOpenedDate | date"></div>

                <div class="p-col-1">{{'valuationDate' | translate}}</div>
                <div class="p-col-2 minWidth"><input id="valuationDate" type="text" pInputText name="valuationDate"
                                                     [attr.disabled]="true"
                                                     [ngModel]="account.valuationDate | date"></div>

                <div class="p-col-1">{{'isJointAccount' | translate}}</div>
                <div class="p-col-2 minWidth">

                  <p-checkbox name="isJointAccount" value="val1" [ngModel]="account.isJointAccount" binary="true"
                              disabled="true"></p-checkbox>
                </div>

                <ng-container *ngFor="let accountBalance of account.accountBalanceList.accountBalance; let i = index">
                  <div class="p-col-1"
                       *ngIf="accountBalance.balanceType != 'STATUS_BALANCE' && accountBalance.balanceType != 'PREVIOUS_CLEARED_BALANCE'">{{accountBalance.balanceType | translate}}</div>
                  <div class="p-col-2 minWidth"
                       *ngIf="accountBalance.balanceType != 'STATUS_BALANCE' && accountBalance.balanceType != 'PREVIOUS_CLEARED_BALANCE'">
                    <input id="accountBalance+i" type="text" pInputText name="accountBalance" disabled="disabled"
                           [ngModel]="accountBalance.amount"></div>
                </ng-container>
              </div>
            </div>


          </p-tabPanel>
          <p-tabPanel [header]="'AccountTransactions' | translate">

            <app-account-transactions [accountNo]="account.accountNo"></app-account-transactions>
          </p-tabPanel>
        </p-tabView>


      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="statementDialog" [(visible)]="display" [style]="{width: '70%'}" positionTop="150">
  <div class="p-grid p-justify-start" appendTo="body">
    <div class="p-col-2">{{'statementType' | translate}}</div>
    <div class="p-col-3 minWidth">
      <p-dropdown [options]="statementTypes"
                  [(ngModel)]="selectedStatementType" appendTo="body"></p-dropdown>
    </div>
    <ng-container *ngIf="selectedStatementType==='1'">
      <div class="p-col-2">{{'email' | translate}}</div>
      <div class="p-col-3 minWidth"><input id="email" type="text" pInputText name="email"
                                           [ngModel]="customerProfile.eMail"></div>
    </ng-container>


  </div>
  <div class="p-grid p-justify-start" appendTo="body">
    <div class="p-col-2">{{'startDate' | translate}}</div>
    <div class="p-col-3 minWidth">
      <p-calendar [(ngModel)]="startDate" appendTo="body"></p-calendar>
    </div>
    <div class="p-col-2">{{'endDate' | translate}}</div>
    <div class="p-col-3 minWidth">
      <p-calendar [(ngModel)]="endDate" appendTo="body"></p-calendar>
    </div>

    <div class="p-col-2">
      <button type="button" pButton style="margin: 0 10px !important;" icon="pi pi-check" label="SendStatement"
              (click)="statementRequest(account)"></button>
      <!--  <p-confirmDialog [style]="{width: '50vw'}" header="Confirmation" icon="pi pi-exclamation-triangle" [appendTo]="body"></p-confirmDialog>-->
    </div>


  </div>

</p-dialog>


