<p-blockUI [blocked]="blocked">
  <i class="fa fa-spinner fa-spin fa-4x fa-fw" aria-hidden="true" style="position:absolute;top:50%;left:50%"></i>
</p-blockUI>








      <app-view-credit-card [creditCardList]="this.customerCreditCards.creditCardList.creditCard"></app-view-credit-card>




<!--
<p-table [value]="this.customerCreditCards.creditCardList.creditCard" dataKey="cardRefNo">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 40px"></th>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-creditCard let-expanded="expanded">
    <tr>
      <td>
        <a href="#" [pRowToggler]="creditCard">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of cols">
        <div *ngIf="col.field ==='CardType'">
          {{creditCard['creditCardClass'].description.descriptionList[0].value}}
        </div>
        <div *ngIf="col.field !='CardType'">
          {{creditCard[col.field]}}
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-creditCard>
    <tr>
      <td [attr.colspan]="cols.length + 2">

        <p-tabView id="CustomerProfileTabsView"
                   [(activeIndex)]="selectedTabIndex">
          <p-tabPanel [header]="'CreditCardInfo' | translate">
          </p-tabPanel>
          <p-tabPanel [header]="'CreditCardTransactions' | translate">
          &lt;!&ndash;  <app-account-transactions [accountNo]="account.accountNo"></app-account-transactions>&ndash;&gt;
          </p-tabPanel>
        </p-tabView>


      </td>
    </tr>
  </ng-template>

</p-table>
-->
