


<hr/>
<div class="customerProfileContainer">
<div class="p-grid p-justify-start">
  <div class="p-col-1">{{'BasicNumber' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="idNumber" type="text" pInputText name="idNumber" [attr.disabled]="true"
                                       [ngModel]="customerProfile.idNumber"></div>

  <div class="p-col-1">{{'title' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="title" type="text" pInputText name="title" [attr.disabled]="true"
                                       [ngModel]="customerProfile.title"></div>

  <div class="p-col-1">{{'EnglishName' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="englishName" type="text" pInputText name="englishName" [attr.disabled]="true"
                                       [ngModel]="customerProfile.fullName.descriptionList[0].value"></div>
  <div class="p-col-1">{{'ArabicName' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="arabicName" type="text" pInputText name="arabicName" [attr.disabled]="true"
                                       [ngModel]="customerProfile.fullName.descriptionList[1].value.trim()"></div>

  <div class="p-col-1">{{'nationality' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="nationality" type="text" pInputText name="nationality" [attr.disabled]="true"
                                       [ngModel]="customerProfile.nationality"></div>

  <div class="p-col-1">{{'gender' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="gender" type="text" pInputText name="gender" [attr.disabled]="true"
                                       [ngModel]="customerProfile.gender"></div>

  <div class="p-col-1">{{'branch' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="branch" type="text" pInputText name="branch" [attr.disabled]="true"
                                       [ngModel]="customerProfile.branch"></div>

  <div class="p-col-1">{{'customerType' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="customerType" type="text" pInputText name="customerType" [attr.disabled]="true"
                                       [ngModel]="customerProfile.customerType"></div>

  <div class="p-col-1">{{'telephone' | translate}}</div>
  <div class="p-col-2 minWidth"><input id="telephone" type="text" pInputText name="telephone" [attr.disabled]="true"
                                       [ngModel]="customerProfile.telephone"></div>

  <ng-container *ngFor="let mobile of customerProfile.otpMobileList.otpMobile; let i = index">
  <div class="p-col-1">{{'mobile' | translate}}</div>
  <div class="p-col-2 minWidth" pTooltip="{{mobile.otpType}}">
  <input id="mobileNo" type="text" pInputText name="mobileNo" disabled="disabled"
                                       [ngModel]="mobile.mobileNo" ></div>
  </ng-container>

  <div class="p-col-1">{{'bajCustomer' | translate}}</div>
  <div class="p-col-2 minWidth">
  <p-checkbox name="bajCustomer" value="val1" [ngModel]="customerProfile.bajCustomer"  binary="true" disabled="true"></p-checkbox>

</div>

</div>

  <div class="p-grid p-justify-start">
    <div class="p-col-1">{{'address1' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="address1" type="text" pInputText name="address1" [attr.disabled]="true"
                                         [ngModel]="customerProfile.address.address1"></div>
    <div class="p-col-1">{{'address2' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="address2" type="text" pInputText name="address2" [attr.disabled]="true"
                                         [ngModel]="customerProfile.address.address2"></div>
    <div class="p-col-1">{{'address3' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="address3" type="text" pInputText name="address3" [attr.disabled]="true"
                                         [ngModel]="customerProfile.address.address3"></div>
    <div class="p-col-1" *ngIf="customerProfile.address.address4 != ''">{{'address4' | translate}}</div>
    <div class="p-col-2 minWidth"*ngIf="customerProfile.address.address4 != ''"><input id="address4" type="text" pInputText name="address4" [attr.disabled]="true"
                                                                                       [ngModel]="customerProfile.address.address4"></div>

  </div>

  <div class="p-grid p-justify-start">

    <div class="p-col-1">{{'employerName' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="employerName" type="text" pInputText name="employerName" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.employerName"></div>

    <div class="p-col-1">{{'empAreaAddr' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="employerAreaAddress" type="text" pInputText name="employerAreaAddress" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.employerAreaAddress"></div>

    <div class="p-col-1">{{'empStreetAddr' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="employerStreetAddress" type="text" pInputText name="employerStreetAddress" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.employerStreetAddress"></div>

    <div class="p-col-1">{{'empStatusCode' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="employmentStatusCode" type="text" pInputText name="employmentStatusCode" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.employmentStatusCode"></div>

    <div class="p-col-1">{{'eduLevelCode' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="educationLevelCode" type="text" pInputText name="educationLevelCode" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.educationLevelCode"></div>

    <div class="p-col-1">{{'currIncomeLevel' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="currentIncomeLevel" type="text" pInputText name="currentIncomeLevel" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.currentIncomeLevel"></div>

    <div class="p-col-1">{{'monthlyIncome' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="monthlyIncome" type="text" pInputText name="monthlyIncome" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.monthlyIncome"></div>

    <div class="p-col-1">{{'sourceOfIncome' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="sourceOfIncome" type="text" pInputText name="sourceOfIncome" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.sourceOfIncome"></div>

    <div class="p-col-1">{{'estimatedNet' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="estimatedNetworth" type="text" pInputText name="estimatedNetworth" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.estimatedNetworth"></div>

    <div class="p-col-1">{{'maritalStatus' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="maritalStatusCode" type="text" pInputText name="maritalStatusCode" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.maritalStatusCode"></div>

    <div class="p-col-1">{{'noOfDependents' | translate}}</div>
    <div class="p-col-2 minWidth"><input id="numberOfDependents" type="text" pInputText name="numberOfDependents" [attr.disabled]="true"
                                         [ngModel]="customerProfile.extendData.numberOfDependents"></div>

  </div>

</div>
