<ng-container *ngFor="let creditCard of creditCardList" >

<div class="creditCardContainer">
  <a href="#" (click)="showCreditCardDetails(creditCard)" >
  <div class="CCLogo"><img src="assets/images/BAJ_logo-trans.png" style="width: 125px;"></div>
  <div class="CCType">{{creditCard.creditCardClass.description.descriptionList[0].value}}</div>
  <div class="CCSim"><img src="assets/images/credit-chip.png" style="width: 45px;"></div>

  <div class="CCNumber">
    <div class="numSlice">{{creditCard.maskedCardNo | slice:0:4}}</div>
    <div class="numSlice">{{creditCard.maskedCardNo | slice:4:8}}</div>
    <div class="numSlice">{{creditCard.maskedCardNo | slice:8:12}}</div>
    <div class="numSlice">{{creditCard.maskedCardNo | slice:12:16}}</div>
  </div>
  <div class="CCToDate">{{creditCard.expiryDate | date:'MM/yy'}}</div>
  <div class="CCHolderName">{{creditCard.cardHolderName}}</div>
  <div class="CCVisaLogo"><img src="assets/images/visa-logo.png" style="width: 80px;"></div>
  </a>
</div>

</ng-container>


<div style="clear: both"></div>


<p-dialog header="Title" [(visible)]="display">
  {{selectedCreditCard.cardHolderName}}
</p-dialog>
