<p-accordion>
  <p-accordionTab header="Tickets Categories" [selected]="true">
    <table>
      <tr>
        <td class="grid-label">{{'MainCat'|translate}}</td>
        <td class="grid-input " >
          <p-dropdown class="minWidth" (onChange)="updateSubCategory()" [options]="mainCategories" [(ngModel)]="selectedMainCategory" optionLabel="englishLabel">
          </p-dropdown>
        </td>
        <td class="grid-label">{{'SubCat'|translate}}</td>
        <td class="grid-input minWidth">
          <p-dropdown class="minWidth" (onChange)="updateTopicList()" [options]="subCategories" [(ngModel)]="selectedSubCategory" optionLabel="englishLabel"></p-dropdown>
        </td>
        <td class="grid-label">{{'Topic'|translate}}</td>
        <td class="grid-input minWidth">
          <p-dropdown class="minWidth" [options]="topics" [(ngModel)]="selectedTopic" optionLabel="englishLabel"></p-dropdown>
        </td>
        <td colspan="2" style="padding: 0px 40px">
          <p-button label="Apply" (onClick)="applyGlobalFilter()"></p-button>
        </td>
      </tr>
    </table>
  </p-accordionTab>
</p-accordion>

<p-tabView (onChange)="handleChange($event)" id="ticketsTabsView"  [(activeIndex)]="selectedTab" dynamic="true" (onClose)="handleClose($event)">

  <p-tabPanel [header]="item.header" *ngFor="let item of items; let i = index"  [headerStyleClass]="item.type" [selected]="i ==0" [closable]="item.closable">

    <ng-template pTemplate="content">
       <app-dy-ticket-table *ngIf="item.ticketFilter!=null" [ticketList]="ticketList" [ticketFilters]="item.ticketFilter" [totalRecords]="totalRecords"  (selectTicketEmitter)="setSelectedTicket($event)"  (eventEmitter)="getTicketList($event)" > </app-dy-ticket-table>
       <app-view-ticket *ngIf="item.ticketFilter == null && item.type != 'static'" [ticketID]="this.selectedTicketId">   </app-view-ticket>
    </ng-template>

  </p-tabPanel>
</p-tabView>



<p-panel class="btnPanel no_style">
  <button type="button" pButton icon="fa fa-folder-open-o" (click)="openTicketForView()" class="ui-button-rounded" label="Open Ticket" [disabled]="disableViewTicketBTN"> </button>
</p-panel>

