<p-accordion>
  <p-accordionTab header="Tickets Categories" [selected]="true">
    <table>
      <tr>
        <td class="grid-label">{{'MainCat'|translate}}</td>
        <td class="grid-input " >
          <p-dropdown class="minWidth" (onChange)="updateSubCategory()" [options]="mainCategories" [(ngModel)]="selectedMainCategory" optionLabel="englishLabel">
          </p-dropdown>
        </td>
        <td class="grid-label">{{'SubCat'|translate}}</td>
        <td class="grid-input minWidth">
          <p-dropdown class="minWidth" (onChange)="updateTopicList()" [options]="subCategories" [(ngModel)]="selectedSubCategory" optionLabel="englishLabel"></p-dropdown>
        </td>
        <td class="grid-label">{{'Topic'|translate}}</td>
        <td class="grid-input minWidth">
          <p-dropdown class="minWidth" [options]="topics" [(ngModel)]="selectedTopic" optionLabel="englishLabel"></p-dropdown>
        </td>
        <td colspan="2" style="padding: 0px 40px">
          <p-button label="Apply" (onClick)="applyGlobalFilter()"></p-button>
        </td>
      </tr>
    </table>
  </p-accordionTab>
</p-accordion>

<p-tabView (onChange)="handleChange($event)" id="ticketsTabsView">

  <p-tabPanel header="All Tickets">
    <app-dy-ticket-table [ticketList]="ticketList" [ticketFilters]="openTicketFilter" [totalRecords]="totalRecords"
                         (eventEmitter)="getTicketList($event)"></app-dy-ticket-table>
  </p-tabPanel>


  <p-tabPanel header="Assigned Tickets">
    <ng-template pTemplate="content">
      <app-dy-ticket-table [ticketList]="ticketList" [ticketFilters]="assignedTicketFilter" [totalRecords]="totalRecords" (eventEmitter)="getTicketList($event)"> </app-dy-ticket-table>
    </ng-template>
  </p-tabPanel>
   <p-tabPanel header="Opened Tickets">
     <ng-template pTemplate="content">
     <app-dy-ticket-table [ticketList]="ticketList" [ticketFilters]="openTicketFilter" [totalRecords]="totalRecords" (eventEmitter)="getTicketList($event)"></app-dy-ticket-table>
     </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Work On Progress Tickets">
     <ng-template pTemplate="content">
       <app-dy-ticket-table [ticketList]="ticketList" [ticketFilters]="wordOnProgressTicketFilter" [totalRecords]="totalRecords" (eventEmitter)="getTicketList($event)"></app-dy-ticket-table>
     </ng-template>
   </p-tabPanel>
   <p-tabPanel header="Closed Tickets">
     <ng-template pTemplate="content">
       <app-dy-ticket-table [ticketList]="ticketList" [ticketFilters]="closedTicketFilter" [totalRecords]="totalRecords" (eventEmitter)="getTicketList($event)"> </app-dy-ticket-table>
     </ng-template>
   </p-tabPanel>

   <p-tabPanel header="Advanced Search">
    <ng-template pTemplate="content">
     <!-- <app-dy-ticket-table [ticketFilters]="closedTicketFilter"></app-dy-ticket-table>-->
    </ng-template>
  </p-tabPanel>
</p-tabView>



<p-panel class="btnPanel no_style">

  <button type="button" pButton icon="fa fa-folder-open-o" (click)="openTicketForView()" class="ui-button-rounded" label="Open Ticket"></button>

<!--
  <button type="button"  [disabled]="(selectedTicket=== null || selectedTicket.id === undefined)? true : false"
          pButton icon="pi pi-pencil" class="ui-button-rounded" label="Edit User"></button>
-->

</p-panel>
