<div style="padding: 0px 8px;">
<div class="p-grid p-justify-start ">
  <div class="p-col-1 grid-label">{{'CustomerBasic' | translate}}</div>
  <div class="p-col-3 minWidth"><input id="customerBasic" type="text" pInputText name="customerBasic"
                                [(ngModel)]="customerBasic"></div>
  <div class="p-col-1 grid-label">{{'nan' | translate}}</div>
  <div class="p-col-3 minWidth"><input id="nan" type="text" pInputText name="customerBasic"
                                [(ngModel)]="nin"></div>

</div>
<div class="p-grid p-justify-start ">
  <div class="p-col-1 grid-label">{{'CustomerMobile' | translate}}</div>
  <div class="p-col-3 minWidth"><input id="customerMobile" type="text" pInputText name="customerMobile"
                                [(ngModel)]="customerMobile"></div>
  <div class="p-col-1 grid-label">{{'CustomerEmail' | translate}}</div>
  <div class="p-col-3 minWidth"><input id="customerEmail" type="text" pInputText name="customerEmail"
                                [(ngModel)]="customerEmail"></div>
</div>

<p-panel class="no_style">
    <p-button label="{{'Search'|translate}}" (onClick)="search()"></p-button>

    <p-button label="{{'clear'|translate}}" (onClick)="clear()"></p-button>
</p-panel>

  <div style="clear: both"></div>
</div>
<p-table *ngIf="accountsList!=null&& accountsList.length>0" [columns]="cols"
         [dataKey]="id" [value]="accountsList"
         [paginator]="true"
         [rows]="10"
         [(selection)]="selectedAccount" selectionMode="single">
  <ng-template pTemplate="caption">
    {{'AccountsSearchResults'|translate}}
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em"></th>
      <th *ngFor="let col of columns">
        {{col.header|translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
      </td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
<p-panel class="no_style">
<p-button (onClick)="doSelection()" *ngIf="selectedAccount!=null"
          [label]="'SelectAcctBTN'|translate"></p-button>
</p-panel>
<div style="clear: both"></div>
